In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("MyApp") \
    .getOrCreate()

In [13]:
data = [("Ali", 23), ("Omar", 30), ("Mona", 25)]
df = spark.createDataFrame(data, ["name", "age"])
df.show()

+----+---+
|name|age|
+----+---+
| Ali| 23|
|Omar| 30|
|Mona| 25|
+----+---+

In [5]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("myapp").getOrCreate()

In [6]:
data = [("df",2)]

In [7]:
df = spark.createDataFrame(data,["name","age"])

In [9]:
df.show()

+----+---+
|name|age|
+----+---+
|  df|  2|
+----+---+

In [15]:
from pyspark.sql.functions import *

In [16]:
df.agg(
    max("age")
).show()

+--------+
|max(age)|
+--------+
|      30|
+--------+

In [18]:
df.agg(
    max("age")
).show()

+--------+
|max(age)|
+--------+
|      30|
+--------+

In [19]:
from pyspark.sql import SparkSession

In [20]:
spark = SparkSession.builder.appName("myapp").getOrCreate()

In [21]:
data = [("ali",25),("mandy",54),("hisham",45)]
df = spark.createDataFrame(data,["name","age"])

In [24]:
df.agg(
    max("age").alias("max_age")
).show()

+-------+
|max_age|
+-------+
|     54|
+-------+

In [28]:
df = spark.read.format("csv").option("header",True).load("/content/Data_Scientist_Capability_Matrix.csv")

In [29]:
df.show()

+--------------------+--------------------+-----------+
|            Category|               Skill|Score (1-5)|
+--------------------+--------------------+-----------+
|Programming & Sof...|Python/R (pandas,...|          5|
|                NULL|Clean, modular co...|          3|
|                NULL|Version control (...|          3|
|                NULL|API integration &...|          3|
|                NULL|CI/CD & container...|          0|
|Data Wrangling & ETL|Basic joins, merg...|          5|
|                NULL|SQL queries & rel...|          5|
|                NULL|Data pipelines (A...|          0|
|                NULL|Big data handling...|          0|
|   Statistics & Math|Descriptive stats...|          5|
|                NULL|Hypothesis testin...|          5|
|                NULL| Regression analysis|          5|
|                NULL|Bayesian inferenc...|          5|
|    Machine Learning|Basic models (lin...|          5|
|                NULL|Feature engineeri...|          5|
|                NULL|Ensemble methods ...|          5|
|                NULL|Hyperparameter tu...|          5|
|                NULL|Deep learning (CN...|          4|
|                NULL|MLOps integration...|          0|
|Data Visualizatio...|Static visualizat...|          5|
+--------------------+--------------------+-----------+
only showing top 20 rows

In [30]:
df = spark.read.format("csv").option("header",True).load("/content/Data_Scientist_Capability_Matrix.csv")

In [31]:
df.show()

+--------------------+--------------------+-----------+
|            Category|               Skill|Score (1-5)|
+--------------------+--------------------+-----------+
|Programming & Sof...|Python/R (pandas,...|          5|
|                NULL|Clean, modular co...|          3|
|                NULL|Version control (...|          3|
|                NULL|API integration &...|          3|
|                NULL|CI/CD & container...|          0|
|Data Wrangling & ETL|Basic joins, merg...|          5|
|                NULL|SQL queries & rel...|          5|
|                NULL|Data pipelines (A...|          0|
|                NULL|Big data handling...|          0|
|   Statistics & Math|Descriptive stats...|          5|
|                NULL|Hypothesis testin...|          5|
|                NULL| Regression analysis|          5|
|                NULL|Bayesian inferenc...|          5|
|    Machine Learning|Basic models (lin...|          5|
|                NULL|Feature engineeri...|          5|
|                NULL|Ensemble methods ...|          5|
|                NULL|Hyperparameter tu...|          5|
|                NULL|Deep learning (CN...|          4|
|                NULL|MLOps integration...|          0|
|Data Visualizatio...|Static visualizat...|          5|
+--------------------+--------------------+-----------+
only showing top 20 rows

In [33]:
df.printSchema()

root
 |-- Category: string (nullable = true)
 |-- Skill: string (nullable = true)
 |-- Score (1-5): string (nullable = true)

In [35]:
df.describe().show()

+-------+------------------+--------------------+------------------+
|summary|          Category|               Skill|       Score (1-5)|
+-------+------------------+--------------------+------------------+
|  count|                 8|                  31|                31|
|   mean|              NULL|                NULL| 3.064516129032258|
| stddev|              NULL|                NULL|2.0806326581269734|
|    min|APIs & Integration|API integration &...|                 0|
|    max| Statistics & Math|Version control (...|                 5|
+-------+------------------+--------------------+------------------+

In [40]:
df.corr

In [44]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("myapp").getOrCreate()

df = spark.read.format("csv").option("header",True).option("inferSchema", True).load("/content/Data_Scientist_Capability_Matrix.csv")

In [46]:
df.show()

+--------------------+--------------------+-----------+
|            Category|               Skill|Score (1-5)|
+--------------------+--------------------+-----------+
|Programming & Sof...|Python/R (pandas,...|          5|
|                NULL|Clean, modular co...|          3|
|                NULL|Version control (...|          3|
|                NULL|API integration &...|          3|
|                NULL|CI/CD & container...|          0|
|Data Wrangling & ETL|Basic joins, merg...|          5|
|                NULL|SQL queries & rel...|          5|
|                NULL|Data pipelines (A...|          0|
|                NULL|Big data handling...|          0|
|   Statistics & Math|Descriptive stats...|          5|
|                NULL|Hypothesis testin...|          5|
|                NULL| Regression analysis|          5|
|                NULL|Bayesian inferenc...|          5|
|    Machine Learning|Basic models (lin...|          5|
|                NULL|Feature engineeri...|          5|
|                NULL|Ensemble methods ...|          5|
|                NULL|Hyperparameter tu...|          5|
|                NULL|Deep learning (CN...|          4|
|                NULL|MLOps integration...|          0|
|Data Visualizatio...|Static visualizat...|          5|
+--------------------+--------------------+-----------+
only showing top 20 rows

In [48]:
df.agg(
    max("Score (1-5)").alias("score")
).show()

+-----+
|score|
+-----+
|    5|
+-----+

In [49]:
df = df.withColumn("Score (1-5)" , col("Score (1-5)").cast("int"))

In [50]:
df.show()

+--------------------+--------------------+-----------+
|            Category|               Skill|Score (1-5)|
+--------------------+--------------------+-----------+
|Programming & Sof...|Python/R (pandas,...|          5|
|                NULL|Clean, modular co...|          3|
|                NULL|Version control (...|          3|
|                NULL|API integration &...|          3|
|                NULL|CI/CD & container...|          0|
|Data Wrangling & ETL|Basic joins, merg...|          5|
|                NULL|SQL queries & rel...|          5|
|                NULL|Data pipelines (A...|          0|
|                NULL|Big data handling...|          0|
|   Statistics & Math|Descriptive stats...|          5|
|                NULL|Hypothesis testin...|          5|
|                NULL| Regression analysis|          5|
|                NULL|Bayesian inferenc...|          5|
|    Machine Learning|Basic models (lin...|          5|
|                NULL|Feature engineeri...|          5|
|                NULL|Ensemble methods ...|          5|
|                NULL|Hyperparameter tu...|          5|
|                NULL|Deep learning (CN...|          4|
|                NULL|MLOps integration...|          0|
|Data Visualizatio...|Static visualizat...|          5|
+--------------------+--------------------+-----------+
only showing top 20 rows

In [54]:
df = df.withColumnRenamed("Score (1-5)","Score")

In [55]:
df.show()

+--------------------+--------------------+-----+
|            Category|               Skill|Score|
+--------------------+--------------------+-----+
|Programming & Sof...|Python/R (pandas,...|    5|
|                NULL|Clean, modular co...|    3|
|                NULL|Version control (...|    3|
|                NULL|API integration &...|    3|
|                NULL|CI/CD & container...|    0|
|Data Wrangling & ETL|Basic joins, merg...|    5|
|                NULL|SQL queries & rel...|    5|
|                NULL|Data pipelines (A...|    0|
|                NULL|Big data handling...|    0|
|   Statistics & Math|Descriptive stats...|    5|
|                NULL|Hypothesis testin...|    5|
|                NULL| Regression analysis|    5|
|                NULL|Bayesian inferenc...|    5|
|    Machine Learning|Basic models (lin...|    5|
|                NULL|Feature engineeri...|    5|
|                NULL|Ensemble methods ...|    5|
|                NULL|Hyperparameter tu...|    5|
|                NULL|Deep learning (CN...|    4|
|                NULL|MLOps integration...|    0|
|Data Visualizatio...|Static visualizat...|    5|
+--------------------+--------------------+-----+
only showing top 20 rows

In [58]:
df.createOrReplaceTempView("Data_Scientist_Capability_Matrix")

In [59]:
result = spark.sql("SELECT name, AVG(age) as avg_age FROM people GROUP BY name")
result.show()

AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `name` cannot be resolved. Did you mean one of the following? [`Score`, `Skill`, `Category`].; line 1 pos 7;
'Aggregate ['name], ['name, 'AVG('age) AS avg_age#584]
+- SubqueryAlias people
   +- View (`people`, [Category#498,Skill#499,Score#563])
      +- Project [Category#498, Skill#499, Score (1-5)#543 AS Score#563]
         +- Project [Category#498, Skill#499, cast(Score (1-5)#500 as int) AS Score (1-5)#543]
            +- Relation [Category#498,Skill#499,Score (1-5)#500] csv

In [88]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("app").getOrCreate()


df = spark.read.format("csv").option("header",True).option("infeSchema",True).load("/content/Data_Scientist_Capability_Matrix.csv")

In [61]:
df.createOrReplaceTempView("Data_Scientist_Capability_Matrix")

In [63]:
df.show()

+--------------------+--------------------+-----------+
|            Category|               Skill|Score (1-5)|
+--------------------+--------------------+-----------+
|Programming & Sof...|Python/R (pandas,...|          5|
|                NULL|Clean, modular co...|          3|
|                NULL|Version control (...|          3|
|                NULL|API integration &...|          3|
|                NULL|CI/CD & container...|          0|
|Data Wrangling & ETL|Basic joins, merg...|          5|
|                NULL|SQL queries & rel...|          5|
|                NULL|Data pipelines (A...|          0|
|                NULL|Big data handling...|          0|
|   Statistics & Math|Descriptive stats...|          5|
|                NULL|Hypothesis testin...|          5|
|                NULL| Regression analysis|          5|
|                NULL|Bayesian inferenc...|          5|
|    Machine Learning|Basic models (lin...|          5|
|                NULL|Feature engineeri...|          5|
|                NULL|Ensemble methods ...|          5|
|                NULL|Hyperparameter tu...|          5|
|                NULL|Deep learning (CN...|          4|
|                NULL|MLOps integration...|          0|
|Data Visualizatio...|Static visualizat...|          5|
+--------------------+--------------------+-----------+
only showing top 20 rows

In [69]:
df = df.withColumn("Score (1-5)",col("Score (1-5)").cast("int"))

In [96]:
df = df.withColumnRenamed("Score (1-5)","Score")

In [94]:
df.show()

+--------------------+--------------------+-----+
|            Category|               Skill|Score|
+--------------------+--------------------+-----+
|Programming & Sof...|Python/R (pandas,...|    5|
|                NULL|Clean, modular co...|    3|
|                NULL|Version control (...|    3|
|                NULL|API integration &...|    3|
|                NULL|CI/CD & container...|    0|
|Data Wrangling & ETL|Basic joins, merg...|    5|
|                NULL|SQL queries & rel...|    5|
|                NULL|Data pipelines (A...|    0|
|                NULL|Big data handling...|    0|
|   Statistics & Math|Descriptive stats...|    5|
|                NULL|Hypothesis testin...|    5|
|                NULL| Regression analysis|    5|
|                NULL|Bayesian inferenc...|    5|
|    Machine Learning|Basic models (lin...|    5|
|                NULL|Feature engineeri...|    5|
|                NULL|Ensemble methods ...|    5|
|                NULL|Hyperparameter tu...|    5|
|                NULL|Deep learning (CN...|    4|
|                NULL|MLOps integration...|    0|
|Data Visualizatio...|Static visualizat...|    5|
+--------------------+--------------------+-----+
only showing top 20 rows

In [72]:
df.createOrReplaceTempView("Data_Scientist_Capability_Matrix")

In [73]:
result = spark.sql("select * from Data_Scientist_Capability_Matrix")

In [75]:
result.show()

+--------------------+--------------------+-----+
|            Category|               Skill|Score|
+--------------------+--------------------+-----+
|Programming & Sof...|Python/R (pandas,...|    5|
|                NULL|Clean, modular co...|    3|
|                NULL|Version control (...|    3|
|                NULL|API integration &...|    3|
|                NULL|CI/CD & container...|    0|
|Data Wrangling & ETL|Basic joins, merg...|    5|
|                NULL|SQL queries & rel...|    5|
|                NULL|Data pipelines (A...|    0|
|                NULL|Big data handling...|    0|
|   Statistics & Math|Descriptive stats...|    5|
|                NULL|Hypothesis testin...|    5|
|                NULL| Regression analysis|    5|
|                NULL|Bayesian inferenc...|    5|
|    Machine Learning|Basic models (lin...|    5|
|                NULL|Feature engineeri...|    5|
|                NULL|Ensemble methods ...|    5|
|                NULL|Hyperparameter tu...|    5|
|                NULL|Deep learning (CN...|    4|
|                NULL|MLOps integration...|    0|
|Data Visualizatio...|Static visualizat...|    5|
+--------------------+--------------------+-----+
only showing top 20 rows

In [86]:
df = df.withColumn(
    "Score",
     when(col("Score")>3 , "yes")
     .otherwise("no")
     ).show()

+--------------------+--------------------+-----+---------+
|            Category|               Skill|Score|ScoreFlag|
+--------------------+--------------------+-----+---------+
|Programming & Sof...|Python/R (pandas,...|   no|      yes|
|                NULL|Clean, modular co...|   no|       no|
|                NULL|Version control (...|   no|       no|
|                NULL|API integration &...|   no|       no|
|                NULL|CI/CD & container...|   no|       no|
|Data Wrangling & ETL|Basic joins, merg...|   no|      yes|
|                NULL|SQL queries & rel...|   no|      yes|
|                NULL|Data pipelines (A...|   no|       no|
|                NULL|Big data handling...|   no|       no|
|   Statistics & Math|Descriptive stats...|   no|      yes|
|                NULL|Hypothesis testin...|   no|      yes|
|                NULL| Regression analysis|   no|      yes|
|                NULL|Bayesian inferenc...|   no|      yes|
|    Machine Learning|Basic models (lin...|   no|      yes|
|                NULL|Feature engineeri...|   no|      yes|
|                NULL|Ensemble methods ...|   no|      yes|
|                NULL|Hyperparameter tu...|   no|      yes|
|                NULL|Deep learning (CN...|   no|      yes|
|                NULL|MLOps integration...|   no|       no|
|Data Visualizatio...|Static visualizat...|   no|      yes|
+--------------------+--------------------+-----+---------+
only showing top 20 rows

In [81]:
df.dtypes

[('Category', 'string'), ('Skill', 'string'), ('Score', 'int')]

In [78]:
df.show()

+--------------------+--------------------+-----+
|            Category|               Skill|Score|
+--------------------+--------------------+-----+
|Programming & Sof...|Python/R (pandas,...|    5|
|                NULL|Clean, modular co...|    3|
|                NULL|Version control (...|    3|
|                NULL|API integration &...|    3|
|                NULL|CI/CD & container...|    0|
|Data Wrangling & ETL|Basic joins, merg...|    5|
|                NULL|SQL queries & rel...|    5|
|                NULL|Data pipelines (A...|    0|
|                NULL|Big data handling...|    0|
|   Statistics & Math|Descriptive stats...|    5|
|                NULL|Hypothesis testin...|    5|
|                NULL| Regression analysis|    5|
|                NULL|Bayesian inferenc...|    5|
|    Machine Learning|Basic models (lin...|    5|
|                NULL|Feature engineeri...|    5|
|                NULL|Ensemble methods ...|    5|
|                NULL|Hyperparameter tu...|    5|
|                NULL|Deep learning (CN...|    4|
|                NULL|MLOps integration...|    0|
|Data Visualizatio...|Static visualizat...|    5|
+--------------------+--------------------+-----+
only showing top 20 rows

In [79]:
df.withColumn("Score" , col("Score").cast("int"))

DataFrame[Category: string, Skill: string, Score: int]

In [89]:
df.createOrReplaceTempView("Data_Scientist_Capability_Matrix")

In [90]:
result = spark.sql("select * from Data_Scientist_Capability_Matrix ")

In [97]:
df.show()

+--------------------+--------------------+-----+
|            Category|               Skill|Score|
+--------------------+--------------------+-----+
|Programming & Sof...|Python/R (pandas,...|    5|
|                NULL|Clean, modular co...|    3|
|                NULL|Version control (...|    3|
|                NULL|API integration &...|    3|
|                NULL|CI/CD & container...|    0|
|Data Wrangling & ETL|Basic joins, merg...|    5|
|                NULL|SQL queries & rel...|    5|
|                NULL|Data pipelines (A...|    0|
|                NULL|Big data handling...|    0|
|   Statistics & Math|Descriptive stats...|    5|
|                NULL|Hypothesis testin...|    5|
|                NULL| Regression analysis|    5|
|                NULL|Bayesian inferenc...|    5|
|    Machine Learning|Basic models (lin...|    5|
|                NULL|Feature engineeri...|    5|
|                NULL|Ensemble methods ...|    5|
|                NULL|Hyperparameter tu...|    5|
|                NULL|Deep learning (CN...|    4|
|                NULL|MLOps integration...|    0|
|Data Visualizatio...|Static visualizat...|    5|
+--------------------+--------------------+-----+
only showing top 20 rows

In [98]:
df.groupBy("Score").count().show()

+-----+-----+
|Score|count|
+-----+-----+
|    3|    4|
|    0|    8|
|    5|   13|
|    4|    3|
|    2|    3|
+-----+-----+

In [113]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("App").getOrCreate()

df = spark.read.format("csv").option("header",True).option("infeSchema",True).load("/content/retail_sales_dataset.csv")

In [114]:
df.show()

+--------------+----------+-----------+------+---+----------------+--------+--------------+------------+
|Transaction ID|      Date|Customer ID|Gender|Age|Product Category|Quantity|Price per Unit|Total Amount|
+--------------+----------+-----------+------+---+----------------+--------+--------------+------------+
|             1|2023-11-24|    CUST001|  Male| 34|          Beauty|       3|            50|         150|
|             2|2023-02-27|    CUST002|Female| 26|        Clothing|       2|           500|        1000|
|             3|2023-01-13|    CUST003|  Male| 50|     Electronics|       1|            30|          30|
|             4|2023-05-21|    CUST004|  Male| 37|        Clothing|       1|           500|         500|
|             5|2023-05-06|    CUST005|  Male| 30|          Beauty|       2|            50|         100|
|             6|2023-04-25|    CUST006|Female| 45|          Beauty|       1|            30|          30|
|             7|2023-03-13|    CUST007|  Male| 46|        Clothing|       2|            25|          50|
|             8|2023-02-22|    CUST008|  Male| 30|     Electronics|       4|            25|         100|
|             9|2023-12-13|    CUST009|  Male| 63|     Electronics|       2|           300|         600|
|            10|2023-10-07|    CUST010|Female| 52|        Clothing|       4|            50|         200|
|            11|2023-02-14|    CUST011|  Male| 23|        Clothing|       2|            50|         100|
|            12|2023-10-30|    CUST012|  Male| 35|          Beauty|       3|            25|          75|
|            13|2023-08-05|    CUST013|  Male| 22|     Electronics|       3|           500|        1500|
|            14|2023-01-17|    CUST014|  Male| 64|        Clothing|       4|            30|         120|
|            15|2023-01-16|    CUST015|Female| 42|     Electronics|       4|           500|        2000|
|            16|2023-02-17|    CUST016|  Male| 19|        Clothing|       3|           500|        1500|
|            17|2023-04-22|    CUST017|Female| 27|        Clothing|       4|            25|         100|
|            18|2023-04-30|    CUST018|Female| 47|     Electronics|       2|            25|          50|
|            19|2023-09-16|    CUST019|Female| 62|        Clothing|       2|            25|          50|
|            20|2023-11-05|    CUST020|  Male| 22|        Clothing|       3|           300|         900|
+--------------+----------+-----------+------+---+----------------+--------+--------------+------------+
only showing top 20 rows

In [115]:
df.createOrReplaceTempView("Retail")

In [106]:
df.columns

['Transaction ID',
 'Date',
 'Customer ID',
 'Gender',
 'Age',
 'Product Category',
 'Quantity',
 'Price per Unit',
 'Total Amount']

In [108]:
df.withColumnRenamed("Product Category","Product_Category")

DataFrame[Transaction ID: string, Date: string, Customer ID: string, Gender: string, Age: string, Product_Category: string, Quantity: string, Price per Unit: string, Total Amount: string]

In [118]:
result = spark.sql("select 'Product Category','Quantity' from Retail ")

In [119]:
result.show()

+----------------+--------+
|Product Category|Quantity|
+----------------+--------+
|Product Category|Quantity|
|Product Category|Quantity|
|Product Category|Quantity|
|Product Category|Quantity|
|Product Category|Quantity|
|Product Category|Quantity|
|Product Category|Quantity|
|Product Category|Quantity|
|Product Category|Quantity|
|Product Category|Quantity|
|Product Category|Quantity|
|Product Category|Quantity|
|Product Category|Quantity|
|Product Category|Quantity|
|Product Category|Quantity|
|Product Category|Quantity|
|Product Category|Quantity|
|Product Category|Quantity|
|Product Category|Quantity|
|Product Category|Quantity|
+----------------+--------+
only showing top 20 rows

In [120]:
result = spark.sql("select * from Retail ")

In [121]:
result.show()

+--------------+----------+-----------+------+---+----------------+--------+--------------+------------+
|Transaction ID|      Date|Customer ID|Gender|Age|Product Category|Quantity|Price per Unit|Total Amount|
+--------------+----------+-----------+------+---+----------------+--------+--------------+------------+
|             1|2023-11-24|    CUST001|  Male| 34|          Beauty|       3|            50|         150|
|             2|2023-02-27|    CUST002|Female| 26|        Clothing|       2|           500|        1000|
|             3|2023-01-13|    CUST003|  Male| 50|     Electronics|       1|            30|          30|
|             4|2023-05-21|    CUST004|  Male| 37|        Clothing|       1|           500|         500|
|             5|2023-05-06|    CUST005|  Male| 30|          Beauty|       2|            50|         100|
|             6|2023-04-25|    CUST006|Female| 45|          Beauty|       1|            30|          30|
|             7|2023-03-13|    CUST007|  Male| 46|        Clothing|       2|            25|          50|
|             8|2023-02-22|    CUST008|  Male| 30|     Electronics|       4|            25|         100|
|             9|2023-12-13|    CUST009|  Male| 63|     Electronics|       2|           300|         600|
|            10|2023-10-07|    CUST010|Female| 52|        Clothing|       4|            50|         200|
|            11|2023-02-14|    CUST011|  Male| 23|        Clothing|       2|            50|         100|
|            12|2023-10-30|    CUST012|  Male| 35|          Beauty|       3|            25|          75|
|            13|2023-08-05|    CUST013|  Male| 22|     Electronics|       3|           500|        1500|
|            14|2023-01-17|    CUST014|  Male| 64|        Clothing|       4|            30|         120|
|            15|2023-01-16|    CUST015|Female| 42|     Electronics|       4|           500|        2000|
|            16|2023-02-17|    CUST016|  Male| 19|        Clothing|       3|           500|        1500|
|            17|2023-04-22|    CUST017|Female| 27|        Clothing|       4|            25|         100|
|            18|2023-04-30|    CUST018|Female| 47|     Electronics|       2|            25|          50|
|            19|2023-09-16|    CUST019|Female| 62|        Clothing|       2|            25|          50|
|            20|2023-11-05|    CUST020|  Male| 22|        Clothing|       3|           300|         900|
+--------------+----------+-----------+------+---+----------------+--------+--------------+------------+
only showing top 20 rows

In [124]:
most_sold_product=df.groupBy("Product Category").agg(sum("Quantity").alias("Sum"))

In [125]:
most_sold_product.show()

+----------------+-----+
|Product Category|  Sum|
+----------------+-----+
|     Electronics|849.0|
|        Clothing|894.0|
|          Beauty|771.0|
+----------------+-----+

In [128]:
most_sold_product.orderBy("Sum",ascending = False).show()

+----------------+-----+
|Product Category|  Sum|
+----------------+-----+
|        Clothing|894.0|
|     Electronics|849.0|
|          Beauty|771.0|
+----------------+-----+

In [137]:
gender=df.groupBy("Product Category").agg(sum("Quantity").alias("sum"))

In [139]:
gender.orderBy("sum",ascending=False).show()

+----------------+-----+
|Product Category|  sum|
+----------------+-----+
|        Clothing|894.0|
|     Electronics|849.0|
|          Beauty|771.0|
+----------------+-----+

In [142]:
gender = df.groupBy("Gender","Product Category").count()

In [143]:
gender.show()

+------+----------------+-----+
|Gender|Product Category|count|
+------+----------------+-----+
|  Male|        Clothing|  177|
|Female|        Clothing|  174|
|  Male|     Electronics|  172|
|Female|          Beauty|  166|
|  Male|          Beauty|  141|
|Female|     Electronics|  170|
+------+----------------+-----+

In [144]:
gender = df.groupBy("Gender").count()

In [146]:
gender.show()

+------+-----+
|Gender|count|
+------+-----+
|Female|  510|
|  Male|  490|
+------+-----+

In [157]:
mostsale=df.withColumn("Age Category",
              when((col("Product Category")=="Clothing")&
              (col("Gender")=="Male"),"Most Sale")
              .otherwise("Last Sale")
)

In [158]:
mostsale.show()

+--------------+----------+-----------+------+---+----------------+--------+--------------+------------+------------+
|Transaction ID|      Date|Customer ID|Gender|Age|Product Category|Quantity|Price per Unit|Total Amount|Age Category|
+--------------+----------+-----------+------+---+----------------+--------+--------------+------------+------------+
|             1|2023-11-24|    CUST001|  Male| 34|          Beauty|       3|            50|         150|   Last Sale|
|             2|2023-02-27|    CUST002|Female| 26|        Clothing|       2|           500|        1000|   Last Sale|
|             3|2023-01-13|    CUST003|  Male| 50|     Electronics|       1|            30|          30|   Last Sale|
|             4|2023-05-21|    CUST004|  Male| 37|        Clothing|       1|           500|         500|   Most Sale|
|             5|2023-05-06|    CUST005|  Male| 30|          Beauty|       2|            50|         100|   Last Sale|
|             6|2023-04-25|    CUST006|Female| 45|          Beauty|       1|            30|          30|   Last Sale|
|             7|2023-03-13|    CUST007|  Male| 46|        Clothing|       2|            25|          50|   Most Sale|
|             8|2023-02-22|    CUST008|  Male| 30|     Electronics|       4|            25|         100|   Last Sale|
|             9|2023-12-13|    CUST009|  Male| 63|     Electronics|       2|           300|         600|   Last Sale|
|            10|2023-10-07|    CUST010|Female| 52|        Clothing|       4|            50|         200|   Last Sale|
|            11|2023-02-14|    CUST011|  Male| 23|        Clothing|       2|            50|         100|   Most Sale|
|            12|2023-10-30|    CUST012|  Male| 35|          Beauty|       3|            25|          75|   Last Sale|
|            13|2023-08-05|    CUST013|  Male| 22|     Electronics|       3|           500|        1500|   Last Sale|
|            14|2023-01-17|    CUST014|  Male| 64|        Clothing|       4|            30|         120|   Most Sale|
|            15|2023-01-16|    CUST015|Female| 42|     Electronics|       4|           500|        2000|   Last Sale|
|            16|2023-02-17|    CUST016|  Male| 19|        Clothing|       3|           500|        1500|   Most Sale|
|            17|2023-04-22|    CUST017|Female| 27|        Clothing|       4|            25|         100|   Last Sale|
|            18|2023-04-30|    CUST018|Female| 47|     Electronics|       2|            25|          50|   Last Sale|
|            19|2023-09-16|    CUST019|Female| 62|        Clothing|       2|            25|          50|   Last Sale|
|            20|2023-11-05|    CUST020|  Male| 22|        Clothing|       3|           300|         900|   Most Sale|
+--------------+----------+-----------+------+---+----------------+--------+--------------+------------+------------+
only showing top 20 rows

In [1]:
import joblib
from sklearn.linear_model import LogisticRegression
from sklearn.datasets import load_iris

# Load data
X, y = load_iris(return_X_y=True)
model = LogisticRegression(max_iter=200)
model.fit(X, y)

# Save model
joblib.dump(model, "iris_model.pkl")

['iris_model.pkl']